In [19]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("../../Datasat/insurance/insurance.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='charges')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1070, 7), (268, 7), (1070, 2), (268, 2))

In [20]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1070 entries, 209 to 1140
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1070 non-null   int64
 1   age       1070 non-null   int64
 2   sex       1070 non-null   object
 3   bmi       1070 non-null   float64
 4   children  1070 non-null   int64
 5   smoker    1070 non-null   object
 6   region    1070 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 66.9+ KB

In [21]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 268 entries, 1088 to 116
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        268 non-null    int64
 1   age       268 non-null    int64
 2   sex       268 non-null    object
 3   bmi       268 non-null    float64
 4   children  268 non-null    int64
 5   smoker    268 non-null    object
 6   region    268 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 16.8+ KB

In [22]:
# X_train.isnull().sum()
X_test.isnull().sum()

id          0
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

In [23]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [24]:
X_train.head()

,id,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
209,209,40,41.230,1,False,True,True,False,True,False,False,False
540,540,34,38.000,3,True,False,True,False,False,False,False,True
747,747,19,21.755,0,False,True,True,False,False,True,False,False
39,39,60,39.900,0,False,True,False,True,False,False,False,True
640,640,33,42.400,5,False,True,True,False,False,False,False,True

In [25]:
X_train = X_train.drop(columns=['id'],axis=1)
X_test = X_test.drop(columns=['id'],axis=1)

In [26]:
X_train.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
209,40,41.230,1,False,True,True,False,True,False,False,False
540,34,38.000,3,True,False,True,False,False,False,False,True
747,19,21.755,0,False,True,True,False,False,True,False,False
39,60,39.900,0,False,True,False,True,False,False,False,True
640,33,42.400,5,False,True,True,False,False,False,False,True

In [27]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1070 entries, 209 to 1140
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       1070 non-null   int64
 1   charges  1070 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 25.1 KB

In [28]:
y = y_train['charges']

In [31]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train['charges'])

pred = model.predict(X_test)
pred

array([12870.8783869 ,  6284.3501011 , 34266.74027   ,  3325.6990602 ,
       17323.7293313 ,  4304.1916129 ,  9931.982062  , 15449.4416344 ,
        2273.352661  , 14506.840433  , 14582.4059046 , 12624.7959201 ,
       11791.1275721 , 10986.7418965 ,  3024.2654186 , 16920.0235832 ,
       14217.0732729 ,  3084.7879    ,  2451.2641315 , 12701.9572333 ,
       10271.4883215 ,  7315.3153929 ,  2194.5090352 , 19287.4984108 ,
        9458.7020215 , 11701.5371876 ,  5479.503787  ,  6899.4553631 ,
       16909.4527801 ,  4797.5220337 ,  6990.4827065 ,  5852.277905  ,
       14836.4998108 , 17008.3572991 ,  8689.5739998 , 14623.69584283,
        3490.2156302 , 42165.0603206 ,  8910.8907929 ,  8912.0568775 ,
       11504.25474   ,  1741.2711285 ,  2979.7941501 , 12738.9837897 ,
        9616.2578224 ,  2419.5654003 , 19464.4916835 , 14677.877838  ,
       44944.0190587 ,  3127.8851425 ,  5579.3033551 ,  4697.248055  ,
        9261.7403204 , 38934.816812  ,  1591.5973815 , 15506.6580843 ,
        4091.0207615 ,  6903.9421503 , 23393.8205835 ,  7451.1161135 ,
        8140.6481807 ,  7184.4783454 , 12501.9406362 , 12374.517209  ,
        4217.5001611 , 10791.7674673 ,  4570.1056568 ,  1811.1121325 ,
       43577.6957576 ,  4883.1466937 ,  9170.5399922 , 18142.0611322 ,
       19836.7454234 ,  6667.7540185 ,  8197.5792296 , 25073.3991123 ,
        6004.1632499 ,  3297.786399  , 19815.2276158 , 11321.8572379 ,
        3072.3986489 ,  4799.318678  ,  3154.3201383 , 20848.5514135 ,
        9724.4399875 ,  5615.883583  ,  6951.2721665 , 53962.7328636 ,
        3121.178418  ,  4923.5210824 ,  7530.4362747 ,  9510.1215826 ,
       13502.4851015 ,  9875.7575416 ,  5851.9286789 , 38799.4685078 ,
        6054.4697987 ,  5332.7928086 ,  6979.2622788 ,  2238.55775376,
       49156.589289  ,  6154.8017801 ,  6348.6457144 ,  9981.1498335 ,
       12557.9468427 , 12046.1905648 ,  6104.5779067 ,  3049.0202252 ,
       28230.1513095 ,  6357.6093742 , 12003.5845238 ,  9503.1932299 ,
       15177.8615577 , 16279.2856007 , 10303.5943483 ,  7179.0847052 ,
        2044.4582675 , 47777.1980188 , 13074.9355439 , 11722.128289  ,
       10021.3311688 , 11524.9017324 , 11906.7734392 , 42246.0674982 ,
       20085.1354755 ,  4085.1703586 ,  3452.5354424 , 43879.7782525 ,
       23441.765935  ,  7673.5715766 , 45917.4554862 ,  4919.3245755 ,
        2375.944296  , 13515.6940061 , 14862.225922  ,  9487.567875  ,
       13415.2418797 , 11149.1584385 , 23599.2921335 ,  4501.1960328 ,
       11004.3599931 , 10197.2009259 , 17380.534863  , 10800.4356025 ,
        6156.6559819 , 16452.9774428 ,  3470.9158271 ,  7513.7915519 ,
        6494.61376   , 13246.5150244 , 11987.8601938 ,  1962.1976015 ,
        6608.9110268 ,  6863.6276554 ,  9095.7740214 , 16207.7214513 ,
       18108.6729062 ,  4556.25323   ,  9920.1977776 ,  9113.8748785 ,
        7802.7668641 , 47064.538291  , 22468.5179461 , 13549.4107815 ,
       15408.7460809 , 35239.8524135 , 21955.5659857 ,  2507.7384494 ,
        7865.1021855 ,  3803.2182095 ,  2680.623318  ,  9587.8559311 ,
       12471.3995033 , 18165.2932488 ,  3570.4495902 , 12631.1155573 ,
        7939.5005496 , 16397.9904548 ,  7470.2669025 ,  8019.8420182 ,
       13587.189644  ,  1699.533516  ,  2826.53404109,  3709.7166149 ,
        5131.1785252 ,  9621.8899198 , 15314.4052579 ,  8457.964172  ,
        6585.4948365 , 17522.8281927 ,  5870.5329295 , 12937.6713456 ,
       17883.970208  ,  7485.3720229 ,  5289.657955  , 34389.0176465 ,
        7581.14768   , 13413.5140187 ,  2312.477587  , 19348.7983747 ,
        9839.3055176 , 35238.1559395 ,  6884.1085874 ,  1699.533516  ,
       17902.8367884 ,  7959.7525428 ,  2843.9963524 ,  7783.2825945 ,
       29070.9244976 ,  8183.4851223 ,  2253.31788807, 47974.4053051 ,
        3146.394764  ,  1663.0716945 , 13836.3300245 , 50495.4277884 ,
       11397.0097971 , 13709.2159365 , 18700.807194  ,  9836.7319192 ,
        5316.2227974 , 11110.4850085 , 12370.2567129 ,  4293.9230292 ,
       10280.5449045 ,  3591.1615243 ,  9140.2737869 ,  2362.7968695 ,
       10730.6837782 ,  3999.5376467 ,  3273.680263  , 46800.4990375 ,
        7757.7758888 , 47754.6834825 ,  6451.8434281 , 41209.7290505 ,
       23175.7968561 ,  3558.3254989 , 14491.6689691 , 47002.3216737 ,
       13479.5667617 ,  1754.6022855 , 14532.7007563 , 15756.2445236 ,
        4525.8034695 , 10473.1867885 , 40784.8979897 , 11754.6489607 ,
       12239.812429  , 11646.986913  , 15494.2084381 ,  3215.5703069 ,
       45008.7290658 , 15144.7326903 ,  8854.782466  , 33945.966733  ,
        3898.5105416 ,  1317.5010125 , 17504.4691998 ,  4766.7749971 ,
        5057.9012569 ,  7970.9022229 ,  9002.1190585 , 11372.2422601 ,
       13337.3207901 ,  6567.3515803 , 14881.1903934 , 11611.0362974 ])

In [32]:
model.score(X_train, y)

0.9779286360417192