주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../Datasat/bigdata_certification_kr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [3]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['f5_1'] = scaler.fit_transform(df[['f5']])

print(df.head())

     id   age city    f1  f2   f3    f4         f5      f5_1
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791  0.919533
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826  0.570252
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986  0.084129
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078  0.483685
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  0.219708

In [5]:
# 하위 5%, 상위 5% 값 구하기
lower = df['f5_1'].quantile(0.05)
print(lower)
upper = df['f5_1'].quantile(0.95)
print(upper)

print(lower + upper)

0.03670782406038746
0.9881662742993513
1.0248740983597389