# 주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
# 앞에서 부터 20개의 데이터를 추출한 후 
# f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)

In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv("../../Datasat/bigdata_certification_kr/basic1.csv")
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [23]:
df1 = df[(df['f2']==0)]
df1 = df1[df1.sort_values('age',ascending=True).head(20)]
df1

      id   age city     f1  f2   f3    f4         f5
98  id99   1.0   경기   47.0   0  NaN  ESFJ  97.381034
0   id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
85  id86   2.0   경기    NaN   0  NaN  ESTP  29.269869
56  id57   3.0   대구  111.0   0  NaN  ISFJ  29.269869
90  id91   6.0   경기   72.0   0  NaN  INTP   9.796378
71  id72   8.0   경기   97.0   0  NaN  ESTJ  97.381034
12  id13  15.0   서울   68.0   0  NaN  ESFJ  83.685380
29  id30  16.0   부산    NaN   0  NaN  ESTJ  17.252986
47  id48  18.0   대구    NaN   0  NaN  ENFP  20.129444
11  id12  20.0   서울    NaN   0  NaN  ESTP  91.297791
92  id93  21.8   경기   57.0   0  NaN  ISFP  73.586397
5   id06  22.0   서울   57.0   0  vip  INTP  20.129444
42  id43  23.0   대구   60.0   0  NaN  ISTP  29.269869
31  id32  25.0   부산   64.0   0  vip  ISFJ  13.049921
64  id65  26.5   경기    NaN   0  NaN  ISFP  91.297791
78  id79  30.0   경기    NaN   0  NaN  INTJ  80.138280
24  id25  34.0   부산    NaN   0  NaN  ESTP  60.339826
50  id51  36.0   대구    NaN   0  NaN  ISTJ  83.685380
26  id27  37.0   부산   60.0   0  NaN  ESTP  73.586397
10  id11  40.0   서울   68.0   0  NaN  ENFP  98.429899

In [25]:
before_var = df1['f1'].var()
print(before_var)
df1['f1'] = df1['f1'].fillna(df['f1'].min())
after_var = df1['f1'].var()

print(round(after_var - before_var,2))

1036.9973684210527

In [ ]:
df1 = df[(df['f2']==0)]
df1 = df1.sort_values('age',ascending=True).head(20)
df1

before_var = df1['f1'].var()
print(before_var)
df1['f1'] = df1['f1'].fillna(df['f1'].min())
after_var = df1['f1'].var()

print(round(after_var - before_var,2))