f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오
- 결측치는 f1의 데이터 중 10번째로 큰 값으로 채움
- 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
- 최종 결과값은 절대값으로 출력

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../../Datasat/bigdata_certification_kr/basic1.csv")
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [4]:
top10 = df['f1'].sort_values(ascending=False).iloc[9]
print(top10)
df['f1'] = df['f1'].fillna(top10)

88.0

In [5]:
result1 = df['f1'].median()
result1

77.5

In [6]:
print(df.shape)
df = df.drop_duplicates(subset=['age'])
print(df.shape)

(100, 8)
(71, 8)

In [7]:
result2 = df['f1'].median()
result2

77.0

In [8]:
print(abs(result2 - result1))

0.5